.idea
RMasterBot.iml
node_modules
.DS_Store

access_tokens/*
!access_tokens/.gitkeep

applications/*
!applications/.gitkeep

docs/*
!docs/.gitkeep

downloads/*
!downloads/.gitkeep

installs/*
!installs/.gitkeep

jobs/*
!jobs/.gitkeep

models/*
!models/.gitkeep

private_jobs/*
!private_jobs/.gitkeep

process_ids/*
!process_ids/.gitkeep

rate_limits/*
!rate_limits/.gitkeep

_bot/*
_bot.zip
bots.json

test.js
coverage