.idea
RMasterBot.iml
node_modules
.DS_Store

conf.*.app.js

medias/*
!medias/placeholder

oauth_access_cache/*
!oauth_access_cache/placeholder

pids/*
!pids/placeholder

private_jobs/*
!private_jobs/placeholder

rate_limit_cache/**/*.json